@media screen and (max-width: 600px){

  .section-1
  {
    height: 300px;
  }

  .content
  {
    height: 200px;
  }

  .card-holder {
    flex-wrap: wrap;
    width: 100vw;
  }

  .card {
    flex-basis: 100%;

  }
}