/* ~~~~~~~~~~~~~~~~~~~~SECTION 1~~~~~~~~~~~~~~~~~~~~ */

.wrapper-1
{
	flex-direction: column;
}

.content
{
	padding: 35vh 0;
	font-size: 5vh;
	color: #b1976bff;
	height: 80vh;
	text-align: center;
}

.background-1
{
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/justice.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section-1
{
	color: white;
}

.contact-segment
{
	display: flex;
	height: 10vh;
}

.contact-info
{
	height: 10vh;
	line-height: 10vh;
	display: flex;
	justify-content: space-between;

	border-top: 1px solid #b1976bff;
	color: #b1976bff;
}
.contact-icon
{
	height: 3vh;
	margin-right: 1vw;
	margin-top: 3.5vh;
}

@media only screen and ( max-width: 900px )
{
	.contact-info
	{
		height: 20vh;
		flex-direction: column;
	}

	.content
	{
		height: 70vh;
	}

	.contact-segment
	{
		justify-content: center;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~SECTION 2~~~~~~~~~~~~~~~~~~~~ */

.section-2
{
	display: flex;
	height: 120vh;
}

.wrapper-2
{
	display: flex;
	flex-wrap: wrap;
}

/* slika se cudno ponasa */
/* sa propertijima widht i height */

.image
{
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image img
{
	width: 75%;
}

.info
{
	flex-basis: 50%;

	padding: 30px;

	display: flex;
	flex-wrap: wrap;
}

.bio
{
	flex-basis: 50%;
}

.info-small
{
	flex-basis: 50%;
	padding: 50px;

	display: flex;

}

.title
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;

}

.paragraph
{
	line-height: 16px;
	margin-bottom: 8px;
}

.info-icon img
{
	width: 30px;
	margin: 10px;
}

@media only screen and ( max-width: 900px )
{
	.section-2
	{
		height: 250vh;
	}

	.bio
	{
		flex-basis: 100%;
	}

	.image
	{
		flex-basis: 100%;
	}

	.info
	{
		flex-basis: 100%;
	}

	.wrapper-2
	{
		flex-wrap: wrap;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~SECTION 3~~~~~~~~~~~~~~~~~~~~ */

.background-3
{
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hammer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	height: 200vh;
}

.wrapper-3
{
	flex-direction: column;
}

.section-3
{
	display: flex;
	flex-direction: column;
	color: white;

	height: 200vh;
	color: black;
}

.main-title-3
{
	font-size: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.cards
{
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

.card
{
	flex-basis: 25%;
	height: 400px;

	display: flex;
	flex-direction: column;

	border: 0.5px solid rgba(80,80,80,.5);
}

.card:hover
{
	background-color: rgba( 200, 200, 200, 0.2 );
}

.card-usluge
{
	align-items: center;
	justify-content: center;

	border: 1px solid red;
}

.title-3
{
	font-size: 2rem;
	display: flex;
	flex-direction: column;
}

.desc
{
	font-size: 1em;
	line-height: 1.5em;
	/* padding-right: 2em; */
}

.icon img
{
	width: 60px;
	height: 60px;
}

@media only screen and ( max-width: 1100px )
{
	/* TODO samo jednu dimenziju menjati */
	.section-3
	{
		height: 300vh;
	}

	.background-3
	{
		height: 300vh;
	}

	.card
	{
		flex-basis: 50%;
	}
}

@media only screen and ( max-width: 600px )
{
	.card
	{
		flex-basis: 100%;
	}

	.section-3
	{
		height: 500vh;
	}

	.background-3
	{
		height: 500vh;
	}
}
/* ~~~~~~~~~~~~~~section 4~~~~~~~~~~~~~~~~~~~~~ */

.wrapper-4
{
	flex-direction: column;
	align-items: center;
}

.section-4
{
	display: flex;
  height: 70vh;
	flex-direction: column;
}

.separator
{
	display: flex;
	align-items: center;
}

.line
{
	width: 80px;
	height: 1px;
	background-color: #b1976bff;
}

.text
{
	margin: 0 10px;
}

.contact
{
	width: 60vw;
	height: 30vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mail-button
{
	margin-top: 2em;
	width: 10em;
	height: 3em;
	background-color: #b1976bff;
	text-align: center;
	line-height: 3em;
}

.phone-number
{
	font-size: 3em;
	margin-top: 20px;
}
