*
{
	margin: 0;
	padding: 0;
	font-family: "Libre Franklin";
	box-sizing: border-box;
}

body
{
	display: flex;
	flex-direction: column;
}

a
{
	text-decoration: none;
	color: inherit;
}

/* ~~~~~~~~~~~~~~~~~~~~GENERAL~~~~~~~~~~~~~~~~~~~~ */

.section
{
	height: 100vh;
	/* border: 2px solid gold; */
}

.wrapper
{
	width: 80%;
	margin: auto;

	display: flex;
}

.footer
{
	height: 100px;
}

.background
{
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~SECTION 1~~~~~~~~~~~~~~~~~~~~ */

.wrapper-1
{
	flex-direction: column;
}

.content
{
	height: 80vh;
	line-height: 80vh;
	text-align: center;
	font-size: 3rem;
}

.background-1
{
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/justice.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section-1
{
	color: white;
}

.contact-info
{
	height: 10vh;
	line-height: 10vh;
	display: flex;
	justify-content: space-between;

	line-height: 100px;
	border-top: 1px solid #808080;
}

/* ~~~~~~~~~~~~~~~~~~~~SECTION 2~~~~~~~~~~~~~~~~~~~~ */

.section-2
{
	display: flex;
}

.wrapper-2
{
	display: flex;
}

.image
{
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	position: relative;
}

.image img
{
	height: 80vh;
	z-index: 2;
}

.info
{
	flex-basis: 50%;

	display: flex;
	flex-wrap: wrap;
}

.bio
{
	flex-basis: 100%;
	height: 300px;
}

.info-small
{
	flex-basis: 50%;
	height: 100px;
}

.title
{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;

}

.paragraph
{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 8px;
}

.square
{
	height: 110%;
	width: 50%;
	background-color: gray;
	position: absolute;
	top: -25px;
	right: -20px;
	z-index: 1;
}

@media only screen and (max-device-width: 900px)
{
  .image 
  {
    display: none;
  }

  .info
  {
    flex-basis: 100%;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~SECTION 3~~~~~~~~~~~~~~~~~~~~ */

.background-3
{
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hammer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	height: 200vh;
}

.wrapper-3
{
	flex-direction: column;
}

.section-3
{
	display: flex;
	flex-direction: column;
	color: white;

	height: 200vh;
	color: black;
}

.main-title-3
{
	font-size: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.cards
{
	display: flex;
	flex-wrap: wrap;
}

.card
{
  font-size:16;
	flex-basis: 25%;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.card:hover
{
  background-color: #80808032;
}

.title-3
{
	font-size: 2rem;
	display: flex;
	flex-direction: column;
}

.desc
{
	font-size: 1em;
	line-height: 1.5em;
	padding-right: 2em;
}

.icon img
{
	width: 60px;
	height: 60px;
}

@media only screen and (max-device-width: 900px)
{
  .card
  {
    font-size: 16px;
    flex-basis: 50%;
  }

  .title-3
  {
    margin: 10px 0px;
    font-size: 32px;
    font-weight:bold;
    flex-direction: row;
  }

  .title-3 span
  {
    padding-right: 7px;
  }
}

@media only screen and (max-device-width: 600px)
{
  .card
  {
    font-size: 30px;
    flex-basis: 100%;
  }
}

/* ~~~~~~~~~~~~~~section 4~~~~~~~~~~~~~~~~~~~~~ */

.wrapper-4
{
	flex-direction: column;
	align-items: center;
}

.section-4
{
	display: flex;
	flex-direction: column;
}

.contact
{
	width: 60vw;
	height: 30vh;
	border: 1px solid red;
}
