.section-1 {
  background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.7)),
    url("../assets/images/books_scaled_30.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper-1
{
	height: 200px;
}

.section-1 
{
  height: 200px;
}

.wrapper-1
{
	display: flex;
}

.title
{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.info 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}

/* ~~~~~~~~~~~~~~CONTCTS~~~~~~~~~~~~~~~ */

.contact {
  width: 493px;
}

.contact-title
{
  font-size: 32px;
}

.contacts {
  display: flex;
  margin: 20px 0px;
  align-items: flex-start;
}

.contacts-icon
{
  width: 32px;
  margin: 0 10px;
}

/* face twit insta */
.social-icon 
{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.description p {
  margin: 12px 0px;
  display: block;
}

/* ~~~~~~~~~~~~~~~~~FORM~~~~~~~~~~~~~~ */
form {
  display: flex;
  flex-wrap: wrap;
  width: 493px;
  justify-content: space-between;
}

form input {
  width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form input:focus, form textarea:focus
{
	outline: none;
}

form textarea {
  width: 100%;
  font-size: 16px;
  resize: none;
}

form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #b1976b;
  color: white;
  font-size: 16px;

  border: none;
  outline: none;
}

/* ~~~~~~~~~~~~~~~~MAPA~~~~~~~~~~ */
.map
{
	width: 95%;
	height: 600px;
	margin: auto;
	filter: grayscale( 100% );
}
