.section-1 {
  background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.7)),
  url("../assets/images/books_scaled_30.webp");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-1 {
  height: 28.7vh;
  color: #cdb781;
  font-size: 22px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 80px;
}

.card-wrap {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* height: 71.3%; */
  padding-top: 5%;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 60vw;
}

.card {
  flex-direction: column;
  flex-basis: 25%;
  padding: 20px;
}

.card img
{
  width: 32px;
  height: 32px;
  display: block;
}

.card span {
  font-weight: bold;
  font-size: 32px;
}

.card p {
  font-size: 16px;
}
