.section-1 {
  background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.7)),
  url("../assets/images/books_scaled_30.webp");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-1 {
  height: 28.7vh;
  color: #cdb781;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  height: auto;
}

.card-wrap {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 5%;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 90%;
  padding: 10px;
}

.card {
	border: 0.5px solid rgba(80,80,80,.5);
  display: flex;
  flex-basis: 25%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover
{
	background-color: rgba( 200, 200, 200, 0.7 );
}

.card img
{
  width: 32px;
  height: 32px;
  margin: 10px;
}

.card span {
  font-weight: bold;
  font-size: 32px;
}

.card p {
  font-size: 16px;
}
